<div class="container mt-4 col-md-12">
    <h1 style="color: red;">
        NOTICIAS ACTUALES Y DESTACADAS
        <img src="./../../../assets/imagenes/logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
    </h1>
    <p>Noticias mas relevantes de la actualidad del club</p>
 <!-- Contenedores de imágenes y texto -->
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vincent Company, nuevo DT del club. Llega procedente del Burnley</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nueva indumentaria para la temporada 2024-2025.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Harry Kane, nombrado bota de oro tras sus 34 anotaciones en la temporada.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img3 (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Foto grupal de los integrnates del equipo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img2 (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Una victoria al limite, 3-2 ante el Arcenal.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./../../../assets/imagenes/img1 (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">El Bayern sin opcion de ganar ningun titulo esta temporada.</p>
                </div>
            </div>
        </div>
    </div>
</div>   
    <!-- Formulario y Mapa -->
    <div class="row mt-4">
        <div class="col-md-6 bg-danger">
            <h4 class="mt-4" style="color: white;">
                <img src="./../../../assets/imagenes/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                Llena el formulario si te interesa el contenido de la pagina
                <img src="./../../../assets/imagenes/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            </h4>
            
            <form id="contactForm">
                <div class="form-group">
                    <label for="name" style="color: white;">Name:</label>
                    <input type="text" class="form-control" id="name" required placeholder="Escriba su nombre completo">
                </div>
                <div class="form-group">
                    <label for="email" style="color: white;">Email:</label>
                    <input type="email" class="form-control" id="email" required placeholder="Intoduzca una cuenta gmail"> 
                </div>
                <div class="form-group">
                    <label for="dob" style="color: white;">Date of Birth:</label>
                    <input type="date" class="form-control" id="dob" required>
                </div>
                <br>
                <button type="submit" class="btn btn-light">Enviar</button>
            </form>
        </div>
        <div class="col-md-6 mb-3">
            <h4>Ubicacion del Allians Arena <img src="./../../../assets/imagenes/logo.png" alt="" width="40" height="40" class="d-inline-block align-text-top"></h4>
            <div>
                
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.367346752077!2d11.622136676818767!3d48.21880064550241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7385128a251f%3A0xed4d60428e32c423!2sAllianz%20Arena!5e0!3m2!1ses!2sbo!4v1717698590431!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            </div>
        </div>
        
    </div>
